<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
             http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="dataSourceId" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/springdemos"/>
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSourceId"/>
    </bean>


    <bean id="amountDao" class="net.yangst.dao.impl.AmountDaoImpl">
        <property name="dataSource" ref="dataSourceId"/>
    </bean>

    <!--事物模板需要事物管理器，而事物管理器需要从connecttion获取（也即是数据源）-->
    <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="txManager"/>
    </bean>

    <!-- 4 service 代理对象
        4.1 proxyInterfaces 接口
        4.2 target 目标类
        4.3 transactionManager 事务管理器
        4.4 transactionAttributes 事务属性（事务详情）
            prop.key ：确定哪些方法使用当前事务配置
            prop.text:用于配置事务详情
                格式：PROPAGATION,ISOLATION,readOnly,-Exception,+Exception
                    传播行为		隔离级别	是否只读		异常回滚		异常提交
                例如：
                    <prop key="transfer">PROPAGATION_REQUIRED,ISOLATION_DEFAULT</prop> 默认传播行为，和隔离级别
                    <prop key="transfer">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,readOnly</prop> 只读
                    <prop key="transfer">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,+java.lang.ArithmeticException</prop>  有异常扔提交
    -->


    <bean id="proxyAmountService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="amountService"/>
        <property name="proxyInterfaces" value="net.yangst.service.AmountService"/>
        <property name="transactionManager" ref="txManager"/>
        <property name="transactionAttributes">
            <props>
                <prop key="tranfer">PROPAGATION_REQUIRED,ISOLATION_DEFAULT</prop>
            </props>

        </property>
    </bean>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceId"/>
    </bean>

    <bean id="amountService" class="net.yangst.service.impl.AmountServiceImpl">
        <property name="amountDao" ref="amountDao"/>
    </bean>


</beans>