<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
             http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="myAspectId" class="net.yangst.aspect.MyAspect"/>
    <bean id="userDao" class="net.yangst.dao.impl.UserDaoImpl"/>

    <aop:config>
        <!--定义切点-->
        <aop:pointcut id="myPointCut" expression="execution(* net.yangst.dao.impl.*.*(..))"/>
        <!--将切点和通知进行关联-->
        <aop:advisor advice-ref="myAspectId" pointcut-ref="myPointCut"/>

    </aop:config>

</beans>